{% extends 'clientes/base.html' %}
{% block conteudo %}
<div style="text-align: center;" class="container">
  <h1>Clientes Cadastrados:</h1>
  <table class="table table-bordered table-striped">
    <tr>
      <th>id</th>
      <th>nome</th>
      <th>cpf</th>
      <th>telefone</th>
    </tr>
    {% for cliente in clientes %}
    <tr>
      <td>{{cliente.id_cliente}}</td>
      <td>{{cliente.nome}}</td>
      <td>{{cliente.cpf}}</td>
      <td>{{cliente.telefone}}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}